* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .form-register {
    width: auto;
    background: $color-principal;
    padding: 80px;
    margin: auto;
    display: grid;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 12px;
    font-family: 'calibri';
    color: $color-secundario;
    box-shadow: 7px 13px 37px $color-principal;

    &:hover{
      cursor: pointer;
  }
}

  .form-register h4 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: $color-principal;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid $color-secundario;
    font-family: 'calibri';
    font-size: 18px;
    color:aqua;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color:$color-secundario;
    text-decoration: none;
  }
  
  
  .form-register .botons {
    width: 100%;
    background: #164773;
    border: $color-secundario;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

    &:hover{
      cursor: pointer;
      transform: scale(1.10);
      transition: all 1s ease;
      opacity: 1;
  }
}

