/*:::::Page opciones Con ANIDACION SASS en HOOVER*/ 
.containeropciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    }
    
    .cardopciones {
      background: $color-secundario;
      width: 200px;
      height: 400px;
      margin: 70px;
      border-radius: 50px;
      text-align: center;
      opacity: 0.8;
    
      &:hover{
        background-color: $color-principal;
        color:  $color-secundario;
        cursor: pointer;
        transform: scale(1.5);
        transition: all 1s ease;
        opacity: 1;
      }
    }
    
    .card-image2 {
      height: 150px;
      margin-bottom: 20px;
      border-radius: 15px 15px 0 0;
    }
    
    .card-b1 {
        background-image: url(../objetos/buscar_factura.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
    }
    
    .card-b2 {
        background-image: url(../objetos/registro_de_documentos.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
    }
    
    .card-b3 {
        background-image: url(../objetos/procesar_pagos.png);
        background-size: 68%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
    }
    
    .card-b4 {
        background-image: url(../objetos/reversar_pagos.png);
        background-size: 68%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
    }
    .card-b5 {
        background-image: url(../objetos/recuperar_factura_eliminada.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
      }
      .card-b6 {
        background-image: url(../objetos/analisis_de_vencimiento.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
      }
      .card-b7 {
        background-image: url(../objetos/estado_de_cuenta.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
      }
      .card-b8 {
        background-image: url(../objetos/notas_de_credito.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
      }
      .card-b9 {
        background-image: url(../objetos/cuentas_contables.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
      }
      .card-b10 {
        background-image: url(../objetos/imprimir_cheques.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: 35px;
        margin-top: 10px;
      }