* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  width: 800px;
  margin: 0 auto;
}

/*:::::MediaQuerys barra de navegacion*/
@media (max-width: 660px) {
  .nav_label {
    display: block;
    cursor: pointer;
  }
  .nav_menu {
    position: absolute;
    top: 80px;
    bottom: 10;
    background: #14385c;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
  }
}
.nav_input:checked + .nav_menu {
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
}

/*:::::todo el body*/
body {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  background-image: url(../Objetos/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90%;
  position: relative;
  padding-bottom: 0em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*:::::Titulos*/
h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: -1px -1px 1px #909192;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.h3 {
  text-align: left;
}

/*:::::video de index*/
.videotecnokargo {
  display: block;
  flex-direction: column;
  text-align: center;
}

/*:::::Imagen de Etapas del desarrollo*/
.imagen-opciones {
  filter: grayscale(90%);
  transition: all 5s;
}

.imagen-opciones:hover {
  filter: grayscale(0);
  transform: scale(1.3);
}

/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #14385c;
  margin-top: auto;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background-color: #14385c;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: white;
}

.pie-pagina .grupo-2 {
  background-color: #14385c;
  padding: 5px 5px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 20px;
}

/*:::::MediaQuerys Footer*/
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*:::::MediaQuerys Body*/
@media screen and (max-width: 640px) {
  body {
    background-image: url(../Objetos/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 350%;
    position: relative;
  }
}
@media screen and (min-width: 640px) and (max-width: 1280px) {
  body {
    background-image: url(../Objetos/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 250%;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-image: url(../Objetos/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 90%;
    position: relative;
  }
}/*# sourceMappingURL=estilos.css.map */